/* Clown Around games site styles */

/*
font-family: 'Alice', serif;
font-family: 'Rubik Mono One', monospace;
font-family: 'Spline Sans Mono', monospace;
font-family: 'Yeseva One', serif;
*/

/* tags */
body {
    margin: 0;

    background-color: slateblue;

    font-family: "Rubik Mono One", monospace;
}

header {
    position: relative;
    padding: 15px 0;
    background-color: yellowgreen;
    overflow: visible;
    z-index: 1000;
}

header > h1 {
    margin: 0;
}

/* id */
#right-button {
    right: 0px;
}

#left-button {
    left: 0;
    transform: rotate(180deg);
}

/* class */
.title {
    text-align: center;
    font-family: "Alice", serif;
}

.menu {
    position: absolute;
    top: 50%;
    left: 15px;

    width: 80px;
    height: 60px;
    translate: 0 -50%;

    background-color: yellow;
}

.menu > * {
    text-align: center;
}

.menu:hover > .popup {
    display: block;
    top: 40px;
    scale: 1;
    opacity: 1;
}

.popup {
    position: fixed;
    top: 25px;
    left: 25px;

    width: 300px;
    height: 400px;

    padding-top: 20px;

    rotate: -5deg;
    scale: 0.05;
    transform-origin: 0 0;

    opacity: 0;

    transition: top 300ms;

    background-color: whitesmoke;
}

.popup > * {
    margin: 16px 16px;
    rotate: 5deg;
}

.reel {
    position: relative;
    background-color: purple;

    width: 100%;
    height: 400px;
}

.carousel {
    width: 100%;
    height: 100%;
    background-color: blue;
}

.carousel-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 360px;
    aspect-ratio: 1 / 1;

    background-color: orangered;
}

.carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}