/* Clown Around games site styles reset */

img {
    display: block;

    max-width: 100%;
    height: auto;

    font-style: italic;
}

p {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;

    font-family: var(--font-secondary);
}

a, a:active, a:visited, a:link, a:hover {
    text-decoration: none;
    -webkit-text-decoration: none;
    color: black;
    -webkit-text-fill-color: currentColor;
}

button {
    cursor: pointer;
}