/* Clown Around games site styles */

/*
font-family: 'Alice', serif;
font-family: 'Rubik Mono One', monospace;
font-family: 'Spline Sans Mono', monospace;
font-family: 'Yeseva One', serif;
*/

/* reset */
img {
    font-style: italic;
}

p {
    margin: 0;
}

/* tags */
html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;

    font-family: "Rubik Mono One", monospace;
}

a, a:active, a:visited {
    text-decoration: none;
    color: black;
}

/* id */

/* class */
.global-content-box {
    width: min(calc(100% - 4rem),1080px);
}
