/* Stylesheet for contact info page */

.contactpage-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin: 2rem;
}

.contactpage-content {
    position: relative;

    width: 40rem;

    font-family: var(--font-primary);
}

.contactpage-content:nth-child(2) {
    font-size: 2rem;
}

.contactpage-content:nth-child(3) {
    margin-bottom: 2rem;

    color: grey;
    font-style: italic;
    text-indent: 2rem;
}

.contactpage-content:nth-child(4) {
    width: 100%;

    isolation: isolate;
    
    margin-top: 2rem;
    padding: 2rem 0;
    
    color: white;
    text-indent: calc(50% - 20rem);
}

.contactpage-content:nth-child(4)::before,
.contactpage-mailto-mobile::before {
    content: "";

    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;

    background-color: var(--color-accent);
    border-radius: 30rem 2rem;
}

a.contactpage-mailto {
    padding: 1rem 2rem;
    
    font-size: 1.5rem;
    color: black;
    text-decoration: underline;
    
    background-color: white;
    border-radius: 1rem;
}

.contactpage-mailto-mobile::before {
    inset: -1rem -2rem;
}

.contactpage-mailto-mobile {
    display: none;
    
    position: relative;
    margin: 2rem 1rem;
    padding: 0.5rem 1rem;

    background-color: white;

    border-radius: 100px;
}

@media (orientation:portrait) {
    .contactpage-header {
        font-size: 1.8rem;
    }

    .contactpage-content {
        width: 100%;
    }

    .contactpage-desktop {
        display: none;
    }

    .contactpage-mailto-mobile {
        display: block;
    }
}