/* Stylesheet for game info display page */

body {
    background-color: white;
}

.gamepage-root {
    position: relative;
}

.gamepage-body {
    margin: 4rem auto 2rem auto;

    opacity: 0;
}

@keyframes gamepage-fade-in {
    from { opacity: 0; }
    to {opacity: 1;}
}

.gamepage-title {
    position: relative;

    margin: 1rem 0;

    font-size: 3rem;

    /* background-color: yellowgreen; */
    /* border-radius: 50px; */
    /* background-image: url("../../../public/images/title_banner.png"); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
}

/*.gamepage-title::before {
    content: "";

    position: absolute;
    top: -100px;
    width: 500px;
    height: 500px;
    z-index: -1;

    box-shadow:
     0 0 0 10px white,
     0 0 0 30px yellowgreen,
     0 0 0 50px white,
     0 0 0 65px yellowgreen,
     0 0 0 95px white,
     0 0 0 105px yellowgreen;

    rotate: -15deg;

    background-color: yellowgreen;
    border-radius: 100px;
 
    transform-origin: 25% 50%;
    rotate: -2deg;
} */

.gamepage-top {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    margin: 0 0 2rem 0;

    position: relative;

    background-color: lightgray;
}

.gamepage-bottom {
    width: 100%;

    /* background-color: cadetblue; */

    font-family: 'Alice', serif;
/* font-family: 'Rubik Mono One', monospace; */
/* font-family: 'Spline Sans Mono', monospace; */
/* font-family: 'Yeseva One', serif; */
}

.gamepage-headline {
    display: inline;
    
    padding: 0 0.5rem 0 0;
    position: relative;

    font-size: 3rem;
}

.gamepage-content {
    display: inline;
    text-indent: 5rem;
}

.gamepage-credits {
    font-style: italic;

    margin: 1rem 0;
}