.homepage-content {
    position: relative;
    margin: 0 auto 2rem auto;
}

.homepage-curtain-container {
    display: flex;
    justify-content: space-between;

    position: absolute;
    inset: 0 0 0 0;

    z-index: 100;

    pointer-events: none;
}

.homepage-curtain {
    width: 189px;
    height: 100%;

    background-image: url("../images/curtain.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.homepage-curtain:first-child {
    scale: -1 1;
}

.homepage-carousel-container {
    position: relative;
    width: 100%;

    background-image: url("../images/homepage_bg.png");
    background-size: cover;
}

.homepage-skip-nav {
    position: absolute;
    left: -250px;
    top: 4rem;
    z-index: 1000;

    padding: 1rem;
    
    font-family: var(--font-primary);

    background-color: var(--color-primary);
    border-radius: 0 50px 50px 0;
    box-shadow: 0.5rem 0.5rem 0.5rem #000a;

    transition: left 250ms;
}

.homepage-skip-nav:focus {
    left: 0px;
}

.homepage-quicklinks {
    font-size: 1.5rem;
}

.homepage-quicklinks > a {
    isolation: isolate;
    display: block;

    position: relative;
    width: 22rem;

    margin: 3rem 0 3rem 50%;

    background-color: var(--color-primary);
    border: 2rem solid var(--color-primary);
    border-radius: 50rem;
}

.homepage-story {
    position: relative;
    
    margin: 10rem 0 4rem 0;

    font-family: var(--font-primary);
}

.homepage-story::before {
    content: "";

    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;
    height: 2rem;

    background-color: var(--color-primary);
}

.homepage-story a {
    font-family: var(--font-secondary);
    font-size: 1rem;
}

.homepage-sitemap {
    list-style: none;

    padding: 0;
    
    font-size: 0.8rem;
}

.homepage-sitemap > li {
    display: inline;

    padding: 0 1rem;
    
    border: 0 solid black;
    border-left-width: 2px;
}

.homepage-sitemap > li:nth-child(1) {
    border: none;
    padding-left: 0;
}

.homepage-banner {
    width: 100%;
    height: 5rem;

    background-color: var(--color-primary);
    mask: url("../images/wavy_banner.png");
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: 0 -3rem;
}

@media (orientation:portrait) {
    .homepage-carousel-container {
        width: 100vw;
        
        margin: auto -2rem;

        background-color: var(--color-accent);
        background-image: none;
    }

    .homepage-curtain {
        display: none;
    }

    h2 {
        overflow: hidden;
    }

    .homepage-quicklinks > a {
        margin: 2rem auto;
        width: 80%;

        text-align: center;
        font-size: 1.25rem;
    }

    .homepage-banner {
        display: none;
    }
}