.homepage-content {
    position: relative;
    margin: 0 auto 2rem auto;
}

.homepage-curtain-container {
    display: flex;
    justify-content: space-between;

    position: absolute;
    inset: 0 0 0 0;

    z-index: 100;

    pointer-events: none;
}

.homepage-curtain {
    width: 189px;
    height: 100%;

    background-image: url("../images/curtain.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.homepage-curtain:first-child {
    scale: -1 1;
}

.homepage-carousel-container {
    position: relative;
    width: 100%;

    background-image: url("../images/homepage_bg.png");
    background-size: cover;
}

.homepage-skip-nav {
    position: absolute;
    left: -250px;
    top: 4rem;
    z-index: 1000;

    padding: 1rem;
    
    font-family: var(--font-primary);

    background-color: var(--color-primary);
    border-radius: 0 50px 50px 0;
    box-shadow: 0.5rem 0.5rem 0.5rem #000a;

    transition: left 250ms;
}

.homepage-skip-nav:focus {
    left: 0px;
}

.homepage-quicklinks {
    display: flex;
    justify-content: center;
}

.homepage-banner {
    font-size: 3rem;
    text-align: center;

    background-image: url("../images/banner.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.homepage-quicklinks ul {
    list-style-type: none;
}

@media (orientation:portrait) {
    .homepage-carousel-container {
        width: 100vw;
        
        margin: auto -2rem;

        background-color: var(--color-accent);
        background-image: none;
    }

    .homepage-curtain {
        display: none;
    }

    h2 {
        overflow: hidden;
    }
}