/* Stylesheet for reel component */

.reel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: auto;

    overflow: visible;

    /* border: 2px solid red; */
}

.reel-item {
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
    left: 0;

    background-color: orangered;

    transition: left 0.25s, rotate 0.25s;
}

.reel-image {
    position: relative;
    height: 100%;

    vertical-align: middle;
    font-style: italic;

    background-repeat: no-repeat;
    background-size: cover;
}